body {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--bgc);
  margin: 0 auto;
}
:root {
  --bgc:#EEEEEF; 
  --header: #10BBD5;
  --bg-category: #FFF;
  --button-add: #4C394E;
  --button-add-hover: #744978;
  --button-end: #4D762D;
  --button-end-hover: #6DB236;
  --white: #F8FDFE;
  --price: #E90000;
  --gray: #8E8E8E;
  --black: #1F1F1F;
  --new: #AF39E7;
  --hit: #4200FF;
  --off:#EA33C0;
}
.header {
  margin: 0;
  width: 1296px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top:0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}
.container {
  width: 1296px;
  margin: 0 auto;
}
.chat {
  padding: 0px;
  position: fixed;
  width: 64px;
  height: 64px;
  border: none;
  bottom: 8px;
  right: 28px;
  border-radius: 50%;
  background-color: var(--header);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chat{
  width: 64px;
  height: 64px;
  background-image: url(/img/chat.svg);
  background-size: 52px;
  background-position: center;
}
.chat .img:hover{
  background-image: url(/img/icon.svg);
  background-position: center;
}
.logo-and-cart{
  width: 1400px;
  height: 72px;
  background-color: var(--header);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .wrapper {
  width: 1296px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.logo-link {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
}
.logo-link img{
  padding-right: 4px;
}
.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart p{
  padding-right: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; 
}
.cart-img{
  background-image: url(/img/cart_icon.png);
  height: 40px;
  width: 40px;
  border: none;
  background-color: #10BBD5;
  padding: 12px 12px 18px 18px;
  font-family: Cabin;
  font-size: 12px;
  font-weight: 400;
  line-height: 10px
}
.category-items {
  width: 1400px;
  height: 32px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category-items .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.category-items ul{
  text-decoration: none;
  list-style: none;
  color: #000;
  display: flex;
  flex-direction: row;
}
.category-items ul :not(:last-child){
  padding-right: 40px;
}
.bestsellers {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  border-bottom: 1px solid var(--gray);
  padding: 136px 0px 24px 0px;
}
/* <!-- karta tovara --> */
.main {
  height: 1944px;
}
.main .wrapper{
  width: 1296px;
  padding-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  gap: 22px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; 
}
.wrapper h2{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; 
}
.product-card{
  height: 512px; 
  background-color: var(--white);
  border: solid 1px var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-content{
  width: 242px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 16px;
  text-decoration: none;
  
}
.book-cover {
  width: 178px;
  height: 280px;
  background-image: url(/img/image-1.jpg);
  background-size: cover; 
  margin: 0 auto;
}
.badge{
  display: flex;
  flex-direction: row;
  justify-content: start;
  position: absolute;
  gap: 4px;
  color: var(--white);
  z-index: 0;
}
.badge-hit{
  border-radius: 4px;
  padding: 4px 8px;
  width: fit-content;
  background-color: var(--hit);
}
.badge-new{
  border-radius: 4px;
  padding: 4px 8px;
  width: fit-content;
  background-color: var(--new);
}
.badge-sale{
  border-radius: 4px;
  padding: 4px 8px;
  width: fit-content;
  background-color: var(--off);
}
.title{
  color: var(--black);
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden; 
  width: 242px; 
  font-size: 20px;
  font-weight: 700;
  line-height: 28px; 
  border-bottom: 1px solid #A8A8A8;
}
.book-title-author a{
  text-decoration: none;
  color: var(--black);
}
.author{
  color: var(--gray);
  padding-bottom: 8px;
}
.price {
  display: flex;
  flex-direction: row;
  gap: 24px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px; 
}
.red{
  width: fit-content;
  color: var(--price);
}
.sale {
  width: fit-content;
  color: var(--gray);
  text-decoration-line: line-through;
}
.add-to-cart {
  width: 100%;
  padding: 8px 24px;
  color: var(--white);
  border-radius: 4px;
  border: none;
  background-color: var(--button-add);
}
.add-to-cart:hover{
  background-color: var(--button-add-hover);
}
.end-up{
  width: 100%;
  padding: 8px 24px;
  color: var(--white);
  border-radius: 4px;
  border: none;
  background-color: var(--button-end);
}
.end-up:hover{
  background-color: var(--button-end-hover);
}
.product-card:nth-child(2) .book-cover{
  background-image: url(/img/image-2.jpg);
}
.product-card:nth-child(3) .book-cover{
  background-image: url(/img/image-3.jpg);
}
.product-card:nth-child(4) .book-cover{
  background-image: url(/img/image-4.jpg);
}
.product-card:nth-child(5) .book-cover{
  background-image: url(/img/image-5.jpg);
}
.product-card:nth-child(6) .book-cover{
  background-image: url(/img/image-6.jpg);
}
.product-card:nth-child(7) .book-cover{
  background-image: url(/img/image-7.jpg);
}
.product-card:nth-child(8) .book-cover{
  background-image: url(/img/image-8.jpg);
}
.product-card:nth-child(9) .book-cover{
  background-image: url(/img/image-9.jpg);
}
.product-card:nth-child(10) .book-cover{
  background-image: url(/img/image-10.jpg);
}
.product-card:nth-child(11) .book-cover{
  background-image: url(/img/image-11.jpg);
}
.product-card:nth-child(12) .book-cover{
  background-image: url(/img/image-12.jpg);
}
.footer {
  height: 88px;
  background-color: var(--button-add);
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  
}
.footer .container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
